#### Changelog

1. Q13.3 How many clams that are wider than 0.4, have first name "Monster"?   
2. Q13.4 What was the second name of a clam captured at March, 8, that was longer than 0.65 and wider than 0.57?
3. Q15.2 Create a new column `area` using diameter, length and considering that a clam is a perfect rectangle.
4. Q19.4 `density_by_age` groupby `age_cat` and compute average density of a clam.

# Assignment 1. Sea Ears.
by Anvar Kurmukov,
updated by Bogdan Kirillov

---

We are using the data on a species of clam called abalone, also known as "Sea ears". This dataset is in public domain and can be obtained from Delve: http://www.cs.toronto.edu/~delve/data/abalone/desc.html For this task, we have modified the dataset slightly, so you could try out some complicated data manipulation techniques while keeping the dataset as simple as possible. So, in our case, each abalone clam is a promising rapper who is ready for a debut mixtape.

You need to place "sea_ears.csv" file in the same directory as this notebook.

In [1]:
import numpy as np
import pandas as pd

In [2]:
# pd.set_option('display.expand_frame_repr', False)
pd.set_option('display.max_columns', 30)

# 1. Loading data

As always in Data Science you are starting with making nice cup of tea (or coffee). Your next move is to load the data:

- Start with loading `sea_ears.csv` file using `pd.read_csv()` function.
- You may also want to increase maximal displayed pandas columns: set `pd.options.display.max_columns` to 30
- Print top 10 observations in the table. `.head()`
- Print last 10 observations in the table. `.tail()`
- Print all the data columns names using method `.columns`
- Print data size (number of rows and columns). This is the `.shape` of the data.

*Almost* every python has a `head` and a `tail` just as DataFrames do.

If you are using Google Colab, you can upload the file in the cell below. If you are NOT using Colab, set COLAB_P in the cell below to False.

### Section #0

In [3]:
# Load the data
df = pd.read_csv("sea_ears.csv", index_col=0)

# Top 10 observations
df.head(10)

,id,FN,SN,LN,Captured,Sex,Length,Diam,Height,Whole,Shucke,Viscera,Shell,Rings
0,835,Kid,College,Machine,20200621T000000,I,0.450,0.350,0.130,0.5470,0.2450,0.1405,0.1405,8.0
1,540,Jalapeno,Glam,Machine,20200308T000000,F,0.500,0.375,0.140,0.6040,0.2420,0.1415,0.1790,15.0
2,2295,Baby,Full,Killer,20200222T000000,F,0.520,0.415,0.145,0.8045,0.3325,0.1725,0.2850,10.0
3,858,Kid,Rock,Head,20200222T000000,F,0.595,0.480,0.150,1.1100,0.4980,0.2280,0.3300,10.0
4,2329,Boy,Block,Death,20201219T000000,I,0.480,0.390,0.145,0.5825,0.2315,0.1210,0.2550,15.0
5,2648,DJ,Block,Head,20201224T000000,M,0.500,0.380,0.120,0.5765,0.2730,0.1350,0.1450,9.0
6,3723,Big,Full,Death,20200110T000000,I,0.470,0.355,0.120,0.4915,0.1765,0.1125,0.1325,9.0
7,251,Dungeon,Glam,Death,20200824T000000,M,0.590,0.470,0.180,1.1235,0.4205,0.2805,0.3600,13.0
8,1148,MC,College,Machine,20200623T000000,M,0.580,0.450,0.145,1.0025,0.5470,0.1975,0.2295,8.0
9,1949,Monster,Full,Kitty,20200202T000000,M,0.640,0.530,0.165,1.1895,0.4765,0.3000,0.3500,11.0

In [4]:
# Bottom 10 observations
df.tail(10)

,id,FN,SN,LN,Captured,Sex,Length,Diam,Height,Whole,Shucke,Viscera,Shell,Rings
5690,3883,Big,Glam,Man,20200211T000000,M,0.540,0.425,0.120,0.8170,0.2945,0.1530,0.1950,10.0
5691,3731,Monster,Glock,Machine,20200411T000000,F,0.550,0.415,0.180,1.1655,0.5020,0.3010,0.3110,9.0
5692,3856,Jalapeno,Rock,Kitty,20200719T000000,I,0.335,0.255,0.085,0.1785,0.0710,0.0405,0.0550,9.0
5693,1631,Boss,Glock,Man,20200810T000000,I,0.570,0.445,0.145,0.7405,0.3060,0.1720,0.1825,12.0
5694,283,Jalapeno,Full,Killer,20200804T000000,M,0.485,0.395,0.140,0.6295,0.2285,0.1270,0.2250,14.0
5695,181,Big,Block,Head,20200512T000000,M,0.640,0.510,0.175,1.3680,0.5150,0.2660,0.5700,21.0
5696,1324,Jalapeno,Full,Head,20201215T000000,I,0.565,0.440,0.175,0.8735,0.4140,0.2100,0.2100,11.0
5697,1242,Lil',Flow,Machine,20201206T000000,I,0.385,0.290,0.090,0.2615,0.1110,0.0595,0.0745,9.0
5698,2842,Boss,Full,Killer,20200101T000000,M,0.600,0.475,0.175,1.1100,0.5105,0.2560,0.2850,9.0
5699,2071,Baby,Glock,Machine,20200119T000000,F,0.565,0.440,0.135,0.8300,0.3930,0.1735,0.2380,9.0

In [5]:
# All columns
print('Columns:', end=' ')
print(*df.columns, sep=', ')

# Dataset shape
print(f'\nDimensions: {df.shape}')

Columns: id, FN, SN, LN, Captured, Sex, Length, Diam, Height, Whole, Shucke, Viscera, Shell, Rings

Dimensions: (5700, 14)

### 1.1

In [6]:
# 
print('Q1.3 How many rings the sample with id 67 has?', *df[df.id == 67].Rings, sep='\n')
#
ans = df[df.Rings == 10].iloc[33].Height
print('Q1.4 What is the `Height` of a thirty fourth sample with `Rings` == 10?', ans, sep='\n')

Q1.3 How many rings the sample with id 67 has?
13.0
Q1.4 What is the `Height` of a thirty fourth sample with `Rings` == 10?
0.18

### 1.2

In [7]:
#
print('Q2.4 How many rings the 666-th abalone has?', *df[df.id == 666].Rings, sep='\n')
#
print('Q2.5 What is the gender of 1337-th abalone?', *df[df.id == 1337].Sex, sep='\n')

Q2.4 How many rings the 666-th abalone has?
11.0
Q2.5 What is the gender of 1337-th abalone?
M

### 1.3

In [8]:
#
print('Q3.2 How many columns start with a vowel?', sum(df.columns.str.match('^[aeiouy].*')), sep='\n')
#
ans = [x for x in df.columns if 'th' in x]
print('Q3.4 How many columns have `th` in their names?', len(ans), sep='\n')

Q3.2 How many columns start with a vowel?
1
Q3.4 How many columns have `th` in their names?
1

### 1.4

In [9]:
#
print('Q4.1 How many observations are in the data?', df.drop_duplicates().shape[0], sep='\n')
#
print('Q4.2 How many features are in the data?', df.shape[1], sep='\n')

Q4.1 How many observations are in the data?
5700
Q4.2 How many features are in the data?
14

# 2. Basic data exploration

Lets do some basics:

`.count()` number of not NaN's in every column.
    
Is there any missing values in the data?     
Count number of unique values in every column .nunique().    
What does this tells you about the features, which are most likely categorical and which are most likely numerical?    
Use pandas `.describe()` to display basic statistic about the data.   
Use pandas `.value_counts()` to count number of unique values in a specific column.   
Use pandas `.min()`, `.max()`, `.mean()`, `.std()` to display specific statistics about the data.    
Use pandas `.dtypes` field to display data types in columns. 
Hint You could use `.sort_index()` or `.sort_values()` to sort the result of `.value_counts()`

### 2.5

In [10]:
nulls_per_col = df.isnull().sum(axis=0)
print('Amount of not NAN values per row:', df.count() - nulls_per_col, sep='\n')

Amount of not NAN values per row:
id          5700
FN          5700
SN          5700
LN          5700
Captured    5700
Sex         5700
Length      5390
Diam        4458
Height      4162
Whole       5674
Shucke      2968
Viscera     4616
Shell       4176
Rings       4220
dtype: int64

In [11]:
uniqs_per_col = df.nunique()
uniqs_per_col

id          5700
FN            12
SN             8
LN             7
Captured     288
Sex            3
Length      1502
Diam        1013
Height       805
Whole       3939
Shucke      1672
Viscera     1861
Shell       1687
Rings         29
dtype: int64

In [12]:
#
print('Q5.2 How many NA values are in the `Rings` column?', nulls_per_col['Rings'], sep='\n')
#
print('Q5.4 How many NA values are in the `FN` column?', nulls_per_col['FN'], sep='\n')

Q5.2 How many NA values are in the `Rings` column?
740
Q5.4 How many NA values are in the `FN` column?
0

### 2.6

In [13]:
#
print('Q6.1 How many unique values are in the `FN` column?', uniqs_per_col['FN'], sep='\n')
#
print('Q6.2 How many unique values are in the `SN` column?', uniqs_per_col['SN'], sep='\n')

Q6.1 How many unique values are in the `FN` column?
12
Q6.2 How many unique values are in the `SN` column?
8

### 2.7

In [14]:
#
print('Q7.1 For every unique `FN` value give its number of occurences.', df['FN'].value_counts(), sep='\n')
#
print('\nQ7.4 For every unique `Sex` value give its number of occurences.', df['Sex'].value_counts(), sep='\n')

Q7.1 For every unique `FN` value give its number of occurences.
Jalapeno    517
Fresh       490
Boy         489
Lil'        488
MC          482
Kid         477
Boss        474
Dungeon     465
Monster     458
DJ          454
Big         454
Baby        452
Name: FN, dtype: int64

Q7.4 For every unique `Sex` value give its number of occurences.
M    2076
I    1849
F    1775
Name: Sex, dtype: int64

### 2.8

In [15]:
# Display basic data statistics using .describe()
df.describe()

,id,Length,Diam,Height,Whole,Shucke,Viscera,Shell,Rings
count,5700.000000,5545.000000,5079.000000,4931.000000,5687.000000,4334.000000,5158.000000,4938.000000,4960.000000
mean,2849.500000,0.547853,0.424571,0.154530,0.849702,0.361736,0.198908,0.253074,9.826613
std,1645.592598,0.130588,0.108177,0.059298,0.493289,0.222923,0.118113,0.145495,3.378726
min,0.000000,0.075000,0.055000,0.000000,0.002000,0.001000,0.000500,0.001500,0.000000
25%,1424.750000,0.465000,0.355000,0.120000,0.458250,0.188125,0.106154,0.140500,8.000000
50%,2849.500000,0.561707,0.435000,0.150000,0.816500,0.338750,0.188687,0.245000,9.000000
75%,4274.250000,0.635000,0.500000,0.176963,1.177500,0.504000,0.274500,0.345000,11.000000
max,5699.000000,0.968190,0.794032,1.130000,2.875274,1.488000,0.760000,1.044635,29.000000

In [16]:
#
tmp = df['Viscera']
print('Q8.1 What are the max, min, mean and the std of the `Viscera` column?', tmp.agg(['min', 'max', 'std', 'mean']), sep='\n')
# 
tmp = df['Rings'] 
print('\nQ8.2 What are the max, min, mean and the std of the `Rings` column?', tmp.agg(['min', 'max', 'std', 'mean']), sep='\n')

Q8.1 What are the max, min, mean and the std of the `Viscera` column?
min     0.000500
max     0.760000
std     0.118113
mean    0.198908
Name: Viscera, dtype: float64

Q8.2 What are the max, min, mean and the std of the `Rings` column?
min      0.000000
max     29.000000
std      3.378726
mean     9.826613
Name: Rings, dtype: float64

### 2.9

In [17]:
# Display data types of all columns (int)
df.dtypes

id            int64
FN           object
SN           object
LN           object
Captured     object
Sex          object
Length      float64
Diam        float64
Height      float64
Whole       float64
Shucke      float64
Viscera     float64
Shell       float64
Rings       float64
dtype: object

In [18]:
#
floats = df.select_dtypes(include='float64').columns
print('Q9.3 How many columns have `float64` data type?', len(floats), sep='\n')
#
print('Q9.4 What are the columns with dtype == `float64`?', floats.values, sep='\n')

Q9.3 How many columns have `float64` data type?
8
Q9.4 What are the columns with dtype == `float64`?
['Length' 'Diam' 'Height' 'Whole' 'Shucke' 'Viscera' 'Shell' 'Rings']

In [19]:
df = df.dropna()

# 3. Data selection

In pandas.DataFrame you could select

  Row/s by position (integer number [0 .. number of rows - 1]) .iloc or by DataFrame.index .loc:   

```
  data.loc[0]  
  data.loc[5:10]  
  data.iloc[0]  
  data.iloc[5:10]   
```

Though, this is probably the worst way to manipulate rows.   
  Columns by name

```
  data[columname]
```

  Row/s and columns

```
  data.loc[10, columname]  
  data.iloc[10, columname]  
```

Using boolean mask

```
  mask = data[columname] > value  
  data[mask]  
```

You could combine multiple conditions using & or | (and, or)   

```
cond1 = data[columname1] > value1  
cond2 = data[columname2] > value2  
data[cond1 & cond2]  
```

Using queries .query():  

```
value = 5 
data.query("columname > value")  
```

You could combine multiple conditions using and, or  

```
data.query("(columname1 > value1) and (columname2 > value2)")
```

and others. See https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html for more examples.

Remember to use different quotation marks " or ' for columnname inside a query.

### 3.10

In [20]:
# 
print('Q10.2 What is the last name of a clam on row 999?', df.iloc[998].LN, sep='\n')
# 
print('Q10.3 How long is a clam from row 1337?', df.iloc[1336].Length, sep='\n')

Q10.2 What is the last name of a clam on row 999?
Man
Q10.3 How long is a clam from row 1337?
0.44

### 3.11

In [21]:
from datetime import datetime

In [22]:
#
print('Q11.3 How heavy is a clam with index 1045 when still alive?', df.loc[1045].Whole, sep='\n')
#
df.Captured = pd.to_datetime(df.Captured, format='%Y%m%dT', errors='coerce')
print('Q11.4 When was the clam with index 252 captured?', df.loc[252, 'Captured'].date(), sep='\n')

Q11.3 How heavy is a clam with index 1045 when still alive?
0.1835
Q11.4 When was the clam with index 252 captured?
2020-12-08

### 3.12

In [23]:
#
print('Q12.3 How many clams have length more than 0.1?', df.query("Length > 0.1").shape[0], sep='\n')
#
print('Q12.5 How many clams were captured at 24 of July?', df[df.Captured == "2020-07-24"].shape[0], sep='\n')

Q12.3 How many clams have length more than 0.1?
4179
Q12.5 How many clams were captured at 24 of July?
9

### 3.13

In [24]:
#
l_bound = pd.to_datetime('2020-09-01')
r_bound = pd.to_datetime('2020-11-30')
mask = (df.Captured >= l_bound) & (df.Captured <= r_bound)
print('Q13.1 How many clams were captured in the fall? Including both start and end day.', df[mask].shape[0], sep='\n')
#
print('Q13.2 How many clams that were captured in the fall, have first name "Lil\'"?', \
      df[mask].loc[df.FN == 'Lil\''].shape[0], sep='\n')

Q13.1 How many clams were captured in the fall? Including both start and end day.
1009
Q13.2 How many clams that were captured in the fall, have first name "Lil'"?
79

### 3.14

In [25]:
#
print('Q14.3 What was the weight of the lightest in terms of whole weight clam captured in June?', \
      df[df.Captured.dt.month == 6].Whole.agg('min'), sep='\n')
#
print('Q14.5 What is the minimum diameter of clams named "Master"?', \
      df[df.LN == 'Master'].Diam.agg('min'), sep='\n')

Q14.3 What was the weight of the lightest in terms of whole weight clam captured in June?
0.0235
Q14.5 What is the minimum diameter of clams named "Master"?
0.1

# 4. Creating new columns

Creating new column of pandas.DataFrame is as easy as:
```
data['new_awesome_column'] = [] 
```
that's it. But such a column is relatively useless. Typically, you would compute something new based on existing data and save it in a new column. For example one might want to compute total area of the house as a sum of all sqft_ columns, or create a boolean column of whether the house has grade > 2 or anything else:
```
data['total_area'] = data[col1] + data[col2] + ...
data['high_value'] = data[col] > 5
```
Pandas also provides another powerfull tool: .apply, .map(), .applymap() methods (they are kinda the same, but not quite). https://stackoverflow.com/questions/19798153/difference-between-map-applymap-and-apply-methods-in-pandas . They allow you to apply some function to every value in the column/s (row-wise) or row (column-wise) or cell (element-wise). For example, same computations of total_area and high_value using .apply():
```
data['total_area'] = data[[col1, col2, col3]].apply(sum, axis=1)
```
you are not restricted to existent functions, .apply() accepts any function (including lambda functions):
```
data['total_area'] = data[[col1, col2, col3]].apply(lambda x: x[0]+x[1]+x[2], axis=1)
```
or ordinary python function (if this it should have complex behaviour):
```
def _sum(x):
    total = 0
    for elem in x:
        total += elem
    return total

data['total_area'] = data[[col1, col2, col3]].apply(_sum, axis=1) 
```
Many pandas methods has axis parameter axis=0 refers to rows, axis=1 refers to columns.

Warning. You should never use for loops to sum numerical elements from the container.

In [26]:
# create full_name column with concatenation of all clam names
df['full_name'] = df[['FN', 'SN', 'LN']].apply(lambda x: x[0] + ' ' + x[1] + ' ' + x[2], axis=1)

### 4.15

In [27]:
# Q15.1 Create a `age_in_years` column (age is the number of rings +1.5) using any method above'
df['age_in_years'] = df.Rings + 1.5

# Q15.2 Create a new column `area` using diameter, length and considering that a clam is a perfect rectangle
df['area'] = df.Diam * df.Length

# Q15.3 Create a new column `density` by dividing the whole weight by volume (area multiplied by a fixed number of 0.05)
df['density'] = df.Whole / (df.area * 0.05)

# Q15.4 Create a new column `age_cat` by splitting a `age` into 5 ([1..5]) distinct intervals: 0 < x <=20%,
# 20% < x <= 40%, ... 80% < x <= 100% percentiles. You could use `.quantile()` to compute percentiles.
df['age_cat'] = df['age_in_years'].copy().astype('int64')

mask = (df.age_in_years <= df.age_in_years.quantile(0.2))
df.loc[mask, 'age_cat'] = 1

mask = (df.age_in_years.quantile(0.2) < df.age_in_years) & (df.age_in_years <= df.age_in_years.quantile(0.4)) 
df.loc[mask, 'age_cat'] = 2

mask = (df.age_in_years.quantile(0.4) < df.age_in_years) & (df.age_in_years <= df.age_in_years.quantile(0.6)) 
df.loc[mask, 'age_cat'] = 3

mask = (df.age_in_years.quantile(0.6) < df.age_in_years) & (df.age_in_years <= df.age_in_years.quantile(0.8))
df.loc[mask, 'age_cat'] = 4

mask = (df.age_in_years.quantile(0.8) < df.age_in_years)
df.loc[mask, 'age_cat'] = 5

df.age_cat = df.age_cat.astype(int)

# Q15.5 Create a new bool column `high_class` it is True if clam has the proportion of shell in whole clam more or equal to 1
df['high_class'] = np.where(df.Shell / df.Whole >= 1, True, False)
df

,id,FN,SN,LN,Captured,Sex,Length,Diam,Height,Whole,Shucke,Viscera,Shell,Rings,full_name,age_in_years,area,density,age_cat,high_class
0,835,Kid,College,Machine,2020-06-21,I,0.450,0.350,0.130,0.5470,0.2450,0.1405,0.1405,8.0,Kid College Machine,9.5,0.15750,69.460317,2,False
1,540,Jalapeno,Glam,Machine,2020-03-08,F,0.500,0.375,0.140,0.6040,0.2420,0.1415,0.1790,15.0,Jalapeno Glam Machine,16.5,0.18750,64.426667,5,False
2,2295,Baby,Full,Killer,2020-02-22,F,0.520,0.415,0.145,0.8045,0.3325,0.1725,0.2850,10.0,Baby Full Killer,11.5,0.21580,74.559778,3,False
3,858,Kid,Rock,Head,2020-02-22,F,0.595,0.480,0.150,1.1100,0.4980,0.2280,0.3300,10.0,Kid Rock Head,11.5,0.28560,77.731092,3,False
4,2329,Boy,Block,Death,2020-12-19,I,0.480,0.390,0.145,0.5825,0.2315,0.1210,0.2550,15.0,Boy Block Death,16.5,0.18720,62.232906,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5695,181,Big,Block,Head,2020-05-12,M,0.640,0.510,0.175,1.3680,0.5150,0.2660,0.5700,21.0,Big Block Head,22.5,0.32640,83.823529,5,False
5696,1324,Jalapeno,Full,Head,2020-12-15,I,0.565,0.440,0.175,0.8735,0.4140,0.2100,0.2100,11.0,Jalapeno Full Head,12.5,0.24860,70.273532,4,False
5697,1242,Lil',Flow,Machine,2020-12-06,I,0.385,0.290,0.090,0.2615,0.1110,0.0595,0.0745,9.0,Lil' Flow Machine,10.5,0.11165,46.842812,2,False
5698,2842,Boss,Full,Killer,2020-01-01,M,0.600,0.475,0.175,1.1100,0.5105,0.2560,0.2850,9.0,Boss Full Killer,10.5,0.28500,77.894737,2,False
5699,2071,Baby,Glock,Machine,2020-01-19,F,0.565,0.440,0.135,0.8300,0.3930,0.1735,0.2380,9.0,Baby Glock Machine,10.5,0.24860,66.773934,2,False

### 4.16

In [28]:
#
print('Q16.1 What is the average age of the clam of the high_class(=True)?')
print(df[df.high_class].age_in_years.agg('mean'))
#
print('Q16.3 What is the maximal length amongst clams with the lowest age category?')
print(df[df.age_cat == 1].Length.agg('max'))

Q16.1 What is the average age of the clam of the high_class(=True)?
7.5
Q16.3 What is the maximal length amongst clams with the lowest age category?
0.7355653980090243

# 5. Basic date processing

You figure out that column date is to harsh for you, so you decided to convert it to a more plausible format:

- Use pandas method to_datetime() to convert the date to a good format.
- Extract year, month, day and weekday from your new date column. Save them to separete columns.
- How many columns has your data now?
- Drop column date, remember to set inplace parameter to True.

Hint: for datetime formatted date you could extract the year as follow:
```
data.date.dt.year
```
Very often date could be a ridiculously rich feature, sometimes it is holidays that matters, sometimes weekends, sometimes some special days like black friday.

Learn how to work with date in Python!

### 5.17

In [29]:
# Create new columns based on `Captured` column

# Q17.1 Convert date to datetime format
# done earlier
# Q17.2 Extract and store `year`
df['year'] = df.Captured.dt.year

# Q17.3 Extract and store `month`
df['month'] = df.Captured.dt.month

# Q17.4 Extract and store `day`
df['day'] = df.Captured.dt.day

# Q17.5 Extract and store `weekday`
df['weekday'] = df.Captured.dt.weekday

# Q17.6 Create a new column `age10` - the age of the clam in full decades (e.g. 9 year old clam - 0, 21 year old clam - 2)
df['age10'] = (df.age_in_years / 10).astype(int)

df

,id,FN,SN,LN,Captured,Sex,Length,Diam,Height,Whole,Shucke,Viscera,Shell,Rings,full_name,age_in_years,area,density,age_cat,high_class,year,month,day,weekday,age10
0,835,Kid,College,Machine,2020-06-21,I,0.450,0.350,0.130,0.5470,0.2450,0.1405,0.1405,8.0,Kid College Machine,9.5,0.15750,69.460317,2,False,2020,6,21,6,0
1,540,Jalapeno,Glam,Machine,2020-03-08,F,0.500,0.375,0.140,0.6040,0.2420,0.1415,0.1790,15.0,Jalapeno Glam Machine,16.5,0.18750,64.426667,5,False,2020,3,8,6,1
2,2295,Baby,Full,Killer,2020-02-22,F,0.520,0.415,0.145,0.8045,0.3325,0.1725,0.2850,10.0,Baby Full Killer,11.5,0.21580,74.559778,3,False,2020,2,22,5,1
3,858,Kid,Rock,Head,2020-02-22,F,0.595,0.480,0.150,1.1100,0.4980,0.2280,0.3300,10.0,Kid Rock Head,11.5,0.28560,77.731092,3,False,2020,2,22,5,1
4,2329,Boy,Block,Death,2020-12-19,I,0.480,0.390,0.145,0.5825,0.2315,0.1210,0.2550,15.0,Boy Block Death,16.5,0.18720,62.232906,5,False,2020,12,19,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5695,181,Big,Block,Head,2020-05-12,M,0.640,0.510,0.175,1.3680,0.5150,0.2660,0.5700,21.0,Big Block Head,22.5,0.32640,83.823529,5,False,2020,5,12,1,2
5696,1324,Jalapeno,Full,Head,2020-12-15,I,0.565,0.440,0.175,0.8735,0.4140,0.2100,0.2100,11.0,Jalapeno Full Head,12.5,0.24860,70.273532,4,False,2020,12,15,1,1
5697,1242,Lil',Flow,Machine,2020-12-06,I,0.385,0.290,0.090,0.2615,0.1110,0.0595,0.0745,9.0,Lil' Flow Machine,10.5,0.11165,46.842812,2,False,2020,12,6,6,1
5698,2842,Boss,Full,Killer,2020-01-01,M,0.600,0.475,0.175,1.1100,0.5105,0.2560,0.2850,9.0,Boss Full Killer,10.5,0.28500,77.894737,2,False,2020,1,1,2,1
5699,2071,Baby,Glock,Machine,2020-01-19,F,0.565,0.440,0.135,0.8300,0.3930,0.1735,0.2380,9.0,Baby Glock Machine,10.5,0.24860,66.773934,2,False,2020,1,19,6,1

In [30]:
# Drop column `Captured`
del df["Captured"]
df

,id,FN,SN,LN,Sex,Length,Diam,Height,Whole,Shucke,Viscera,Shell,Rings,full_name,age_in_years,area,density,age_cat,high_class,year,month,day,weekday,age10
0,835,Kid,College,Machine,I,0.450,0.350,0.130,0.5470,0.2450,0.1405,0.1405,8.0,Kid College Machine,9.5,0.15750,69.460317,2,False,2020,6,21,6,0
1,540,Jalapeno,Glam,Machine,F,0.500,0.375,0.140,0.6040,0.2420,0.1415,0.1790,15.0,Jalapeno Glam Machine,16.5,0.18750,64.426667,5,False,2020,3,8,6,1
2,2295,Baby,Full,Killer,F,0.520,0.415,0.145,0.8045,0.3325,0.1725,0.2850,10.0,Baby Full Killer,11.5,0.21580,74.559778,3,False,2020,2,22,5,1
3,858,Kid,Rock,Head,F,0.595,0.480,0.150,1.1100,0.4980,0.2280,0.3300,10.0,Kid Rock Head,11.5,0.28560,77.731092,3,False,2020,2,22,5,1
4,2329,Boy,Block,Death,I,0.480,0.390,0.145,0.5825,0.2315,0.1210,0.2550,15.0,Boy Block Death,16.5,0.18720,62.232906,5,False,2020,12,19,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5695,181,Big,Block,Head,M,0.640,0.510,0.175,1.3680,0.5150,0.2660,0.5700,21.0,Big Block Head,22.5,0.32640,83.823529,5,False,2020,5,12,1,2
5696,1324,Jalapeno,Full,Head,I,0.565,0.440,0.175,0.8735,0.4140,0.2100,0.2100,11.0,Jalapeno Full Head,12.5,0.24860,70.273532,4,False,2020,12,15,1,1
5697,1242,Lil',Flow,Machine,I,0.385,0.290,0.090,0.2615,0.1110,0.0595,0.0745,9.0,Lil' Flow Machine,10.5,0.11165,46.842812,2,False,2020,12,6,6,1
5698,2842,Boss,Full,Killer,M,0.600,0.475,0.175,1.1100,0.5105,0.2560,0.2850,9.0,Boss Full Killer,10.5,0.28500,77.894737,2,False,2020,1,1,2,1
5699,2071,Baby,Glock,Machine,F,0.565,0.440,0.135,0.8300,0.3930,0.1735,0.2380,9.0,Baby Glock Machine,10.5,0.24860,66.773934,2,False,2020,1,19,6,1

### 5.18

In [31]:
#
print('Q18.2 What is the most popular capturing month?')
print(df.month.value_counts().sort_values().index[-1])

#
print('Q18.5 How many clams were captured on the Day of Russia (June, 12)?')
df[(df.month == 6) & (df.day == 12)].shape[0]

Q18.2 What is the most popular capturing month?
3
Q18.5 How many clams were captured on the Day of Russia (June, 12)?

8

# 6. Groupby

from the documentation https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html

By “group by” we are referring to a process involving one or more of the following steps:

- Splitting the data into groups based on some criteria.
- Applying a function to each group independently.
- Combining the results into a data structure.

`.groupby()` is one of the most powerfull tool for feature engineering. Very often it is used to group object with the same categorical characteristics and compute some statistics (e.g. mean, max, etc.) of a their numerical characteric.

Instead of computing average area of houses with high grade you could compute average areas of the houses for every grade in a single command:
```
data.groupby('grade')['sqm_tot_area'].mean()
```
You could also make multi-column groups:
```
data.groupby(['weekday','grade'])['price'].min()
```
next, you could compute multiple aggregation functions:
```
data.groupby(['weekday','grade'])['price'].agg([min, max])
```
instead of using built-in functions you could compute custom functions using apply:
```
import numpy as np
data.groupby(['condition','grade'])['bathrooms'].apply(lambda x: np.quantile(x, .5))
```
and the coolest thing now is that you can map the results of groupby back on your DataFrame!
```
gp = data.groupby(['condition'])['bathrooms'].median()
data['gp_feature'] = data['condition'].map(gp)
```
Now, if some house has condition == 2, its gp_feature will be equal to the median number of bathrooms amongst all houses with condition == 2.

Read more examples in the documentation https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html

### 6.19

In [32]:
# Create some groupby features

# Q19.1 `whole_by_year` groupby `year` and compute median whole weight.
gp = df.groupby('year').Whole.median()
df['whole_by_year'] = df['year'].map(gp)

# Q19.2 `shell_by_weekday` groupby `weekday` and compute median shell weight.
gp = df.groupby('weekday').Shell.median()
df['shell_by_weekday'] = df['weekday'].map(gp)

df

,id,FN,SN,LN,Sex,Length,Diam,Height,Whole,Shucke,Viscera,Shell,Rings,full_name,age_in_years,area,density,age_cat,high_class,year,month,day,weekday,age10,whole_by_year,shell_by_weekday
0,835,Kid,College,Machine,I,0.450,0.350,0.130,0.5470,0.2450,0.1405,0.1405,8.0,Kid College Machine,9.5,0.15750,69.460317,2,False,2020,6,21,6,0,0.79975,0.2215
1,540,Jalapeno,Glam,Machine,F,0.500,0.375,0.140,0.6040,0.2420,0.1415,0.1790,15.0,Jalapeno Glam Machine,16.5,0.18750,64.426667,5,False,2020,3,8,6,1,0.79975,0.2215
2,2295,Baby,Full,Killer,F,0.520,0.415,0.145,0.8045,0.3325,0.1725,0.2850,10.0,Baby Full Killer,11.5,0.21580,74.559778,3,False,2020,2,22,5,1,0.79975,0.2180
3,858,Kid,Rock,Head,F,0.595,0.480,0.150,1.1100,0.4980,0.2280,0.3300,10.0,Kid Rock Head,11.5,0.28560,77.731092,3,False,2020,2,22,5,1,0.79975,0.2180
4,2329,Boy,Block,Death,I,0.480,0.390,0.145,0.5825,0.2315,0.1210,0.2550,15.0,Boy Block Death,16.5,0.18720,62.232906,5,False,2020,12,19,5,1,0.79975,0.2180
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5695,181,Big,Block,Head,M,0.640,0.510,0.175,1.3680,0.5150,0.2660,0.5700,21.0,Big Block Head,22.5,0.32640,83.823529,5,False,2020,5,12,1,2,0.79975,0.2290
5696,1324,Jalapeno,Full,Head,I,0.565,0.440,0.175,0.8735,0.4140,0.2100,0.2100,11.0,Jalapeno Full Head,12.5,0.24860,70.273532,4,False,2020,12,15,1,1,0.79975,0.2290
5697,1242,Lil',Flow,Machine,I,0.385,0.290,0.090,0.2615,0.1110,0.0595,0.0745,9.0,Lil' Flow Machine,10.5,0.11165,46.842812,2,False,2020,12,6,6,1,0.79975,0.2215
5698,2842,Boss,Full,Killer,M,0.600,0.475,0.175,1.1100,0.5105,0.2560,0.2850,9.0,Boss Full Killer,10.5,0.28500,77.894737,2,False,2020,1,1,2,1,0.79975,0.2280
5699,2071,Baby,Glock,Machine,F,0.565,0.440,0.135,0.8300,0.3930,0.1735,0.2380,9.0,Baby Glock Machine,10.5,0.24860,66.773934,2,False,2020,1,19,6,1,0.79975,0.2215

### 6.20

In [33]:
# Create some other groupby features
# for this task check out this answer:
# https://stackoverflow.com/questions/47913343/how-to-groupby-and-map-by-two-columns-pandas-dataframe

# Q20.1 `rings_fn` groupby `n_rings` and count average number of occurences of every unique first name
gp = df.groupby('Rings').FN.count() / df.groupby('Rings').FN.nunique()
df['rings_fn'] = df['Rings'].map(gp)

# Q20.2 `n_month` groupby `month` and count number of captured in each month
gp = df.groupby('month').day.count()
df['n_month'] = df['month'].map(gp)

df

,id,FN,SN,LN,Sex,Length,Diam,Height,Whole,Shucke,Viscera,Shell,Rings,full_name,age_in_years,area,density,age_cat,high_class,year,month,day,weekday,age10,whole_by_year,shell_by_weekday,rings_fn,n_month
0,835,Kid,College,Machine,I,0.450,0.350,0.130,0.5470,0.2450,0.1405,0.1405,8.0,Kid College Machine,9.5,0.15750,69.460317,2,False,2020,6,21,6,0,0.79975,0.2215,47.333333,343
1,540,Jalapeno,Glam,Machine,F,0.500,0.375,0.140,0.6040,0.2420,0.1415,0.1790,15.0,Jalapeno Glam Machine,16.5,0.18750,64.426667,5,False,2020,3,8,6,1,0.79975,0.2215,8.583333,390
2,2295,Baby,Full,Killer,F,0.520,0.415,0.145,0.8045,0.3325,0.1725,0.2850,10.0,Baby Full Killer,11.5,0.21580,74.559778,3,False,2020,2,22,5,1,0.79975,0.2180,52.833333,358
3,858,Kid,Rock,Head,F,0.595,0.480,0.150,1.1100,0.4980,0.2280,0.3300,10.0,Kid Rock Head,11.5,0.28560,77.731092,3,False,2020,2,22,5,1,0.79975,0.2180,52.833333,358
4,2329,Boy,Block,Death,I,0.480,0.390,0.145,0.5825,0.2315,0.1210,0.2550,15.0,Boy Block Death,16.5,0.18720,62.232906,5,False,2020,12,19,5,1,0.79975,0.2180,8.583333,331
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5695,181,Big,Block,Head,M,0.640,0.510,0.175,1.3680,0.5150,0.2660,0.5700,21.0,Big Block Head,22.5,0.32640,83.823529,5,False,2020,5,12,1,2,0.79975,0.2290,1.555556,382
5696,1324,Jalapeno,Full,Head,I,0.565,0.440,0.175,0.8735,0.4140,0.2100,0.2100,11.0,Jalapeno Full Head,12.5,0.24860,70.273532,4,False,2020,12,15,1,1,0.79975,0.2290,40.666667,331
5697,1242,Lil',Flow,Machine,I,0.385,0.290,0.090,0.2615,0.1110,0.0595,0.0745,9.0,Lil' Flow Machine,10.5,0.11165,46.842812,2,False,2020,12,6,6,1,0.79975,0.2215,57.416667,331
5698,2842,Boss,Full,Killer,M,0.600,0.475,0.175,1.1100,0.5105,0.2560,0.2850,9.0,Boss Full Killer,10.5,0.28500,77.894737,2,False,2020,1,1,2,1,0.79975,0.2280,57.416667,333
5699,2071,Baby,Glock,Machine,F,0.565,0.440,0.135,0.8300,0.3930,0.1735,0.2380,9.0,Baby Glock Machine,10.5,0.24860,66.773934,2,False,2020,1,19,6,1,0.79975,0.2215,57.416667,333

# 7. Building a regression model

- You do not need to normalize data for tree models, and for linear/knn models this step is essential.
- Remember, that not all of the features in the table are numeric, some of them might be viewed as categorical.
-You may create or drop any features you want, except for the features which use age or number of rings (e.g. average number of rings from a clam of high class).

### 7.21

In [34]:
# Q21 Drop all generated features which used age or number of rings column, e.g. rings_month, age_cat.

# Y = df["age_in_years"].values
Y = df["age_in_years"]

df.drop(columns=['rings_fn', 'age10', 'age_cat', 'age_in_years', 'Rings', 'shell_by_weekday', 'month', \
                 'full_name', 'high_class', 'year', 'id', 'FN', 'SN', 'LN', 'n_month', 'day', 'weekday', \
                'whole_by_year'], inplace=True)

df['Male'] = np.where(df.Sex == 'M', True, False)

df.drop(columns=['Sex'], inplace=True)

good_columns = df.columns
Xdf = df[good_columns]
Xdf

,Length,Diam,Height,Whole,Shucke,Viscera,Shell,area,density,Male
0,0.450,0.350,0.130,0.5470,0.2450,0.1405,0.1405,0.15750,69.460317,False
1,0.500,0.375,0.140,0.6040,0.2420,0.1415,0.1790,0.18750,64.426667,False
2,0.520,0.415,0.145,0.8045,0.3325,0.1725,0.2850,0.21580,74.559778,False
3,0.595,0.480,0.150,1.1100,0.4980,0.2280,0.3300,0.28560,77.731092,False
4,0.480,0.390,0.145,0.5825,0.2315,0.1210,0.2550,0.18720,62.232906,False
...,...,...,...,...,...,...,...,...,...,...
5695,0.640,0.510,0.175,1.3680,0.5150,0.2660,0.5700,0.32640,83.823529,True
5696,0.565,0.440,0.175,0.8735,0.4140,0.2100,0.2100,0.24860,70.273532,False
5697,0.385,0.290,0.090,0.2615,0.1110,0.0595,0.0745,0.11165,46.842812,False
5698,0.600,0.475,0.175,1.1100,0.5105,0.2560,0.2850,0.28500,77.894737,True
5699,0.565,0.440,0.135,0.8300,0.3930,0.1735,0.2380,0.24860,66.773934,False

In [35]:
Y

0        9.5
1       16.5
2       11.5
3       11.5
4       16.5
        ...
5695    22.5
5696    12.5
5697    10.5
5698    10.5
5699    10.5
Name: age_in_years, Length: 4180, dtype: float64

In [36]:
# cat_cols = ['Sex']

In [37]:
# new_names = []
    
# for col in cat_cols:
#     encoded_features = pd.get_dummies(df[col])
#     tmp_names = []
#     for col_id in encoded_features.columns: 
#         name = f'{col}_{col_id}'
#         new_names.append(name)
#         tmp_names.append(name)
#     encoded_features.columns = tmp_names
#     Xdf = pd.concat([Xdf, encoded_features], axis=1)
    
# Xdf.drop(columns=cat_cols, inplace=True)
# cat_cols = new_names
# Xdf

In [38]:
num_cols = ['Length', 'Diam', 'Height', 'Whole', 'Shucke', 'Viscera', 'Shell', 'area', 'density', 'Male']

### 7.22

In [39]:
from sklearn.model_selection import train_test_split

In [40]:
# Q22 Split your data into train and test parts.
# How many records (rows) do you have in train and test tables? (list of int)?
# Use sklearn.model_selection.train_test_split with test_size=0.33 and random_state=7

X_train, X_test, y_train, y_test = train_test_split(Xdf, Y, test_size=0.33, random_state=7)

In [41]:
print('Num of train samples:', X_train.shape[0])
print('Num of test samples:', X_test.shape[0])

Num of train samples: 2800
Num of test samples: 1380

#### Normalizing data

In [42]:
from sklearn.preprocessing import StandardScaler

In [43]:
scaler = StandardScaler()

In [44]:
scaler.fit(X_train[num_cols])

StandardScaler()

In [45]:
X_train[num_cols] = scaler.transform(X_train[num_cols])
X_test[num_cols] = scaler.transform(X_test[num_cols])

### 7.23

#### Training model

In [46]:
from sklearn.linear_model import Ridge

#### Q23.1 Use linear regression with l2 regularization (Ridge regression)

In [47]:
ridge_reg = Ridge()

ridge_reg.fit(X_train.values, y_train.values)

y_pred = ridge_reg.predict(X_test.values)

#### Q23.3 Use k nearest neighbours regression

In [48]:
from sklearn.neighbors import KNeighborsRegressor

In [49]:
knn_reg = KNeighborsRegressor(n_neighbors=5)

knn_reg.fit(X_train.values, y_train.values)

y_pred_1 = knn_reg.predict(X_test.values)

### 7.24

In [50]:
from sklearn.model_selection import GridSearchCV

#### Q24.1 Alpha for a ridge regression

In [51]:
best_models = []

In [52]:
ridge_params = {'alpha': [10**x for x in np.linspace(0.1, 2.0, 50)]}

ridge_gs = GridSearchCV(Ridge(), ridge_params)
ridge_gs.fit(X_train.values, y_train.values)

ridge_pred = ridge_gs.predict(X_test.values)
print(ridge_gs.best_score_)

best_models.append({'ridge': ridge_gs.best_params_})

0.5405819961964242

#### Q24.3 Number of neighbours for the knn

In [53]:
knn_params = {'n_neighbors': range(1, 15)}

knn_gs = GridSearchCV(KNeighborsRegressor(), knn_params)
knn_gs.fit(X_train.values, y_train.values)

knn_pred = knn_gs.predict(X_test.values)
print(knn_gs.best_params_)

best_models.append({'knn': knn_gs.best_params_})

{'n_neighbors': 10}

In [54]:
best_models

[{'ridge': {'alpha': 1.2589254117941673}}, {'knn': {'n_neighbors': 10}}]

### 7.25

In [55]:
from sklearn.metrics import mean_squared_error as mse

In [56]:
best_ridge_reg = Ridge(alpha=1.2589254117941673)
best_ridge_reg.fit(X_train.values, y_train.values)

best_knn_reg = KNeighborsRegressor(n_neighbors=8)
best_knn_reg.fit(X_train.values, y_train.values)
pass

#### Q25.1 Train, test MSE using linear regression with l2 regularization

In [57]:
reg_train_mse = mse(best_ridge_reg.predict(X_train.values), y_train.values)
reg_test_mse = mse(best_ridge_reg.predict(X_test.values), y_test.values)

print('Train MSE:', reg_train_mse, '\nTest MSE: ', reg_test_mse)

Train MSE: 4.682229073406234
Test MSE:  4.901233729659623

#### Q25.3 Train, test MSE using k nearest neighbours regression

In [58]:
knn_train_mse = mse(best_knn_reg.predict(X_train.values), y_train.values)
knn_test_mse = mse(best_knn_reg.predict(X_test.values), y_test.values)

print('Train MSE:', knn_train_mse, '\nTest MSE: ', knn_test_mse)

Train MSE: 3.8088895089285715
Test MSE:  5.524501811594203

### 7.26

In [59]:
from sklearn.metrics import r2_score

#### Q26.1 Train, test R^2 using linear regression with l2 regularization

In [60]:
reg_train_r2 = r2_score(best_ridge_reg.predict(X_train.values), y_train.values)
reg_test_r2 = r2_score(best_ridge_reg.predict(X_test.values), y_test.values)

print('Train R^2:', reg_train_r2, '\nTest R^2: ', reg_test_r2)

Train R^2: 0.18226912351146585
Test R^2:  0.0869181779685736

#### Q26.3 Train, test R^2 using k nearest neighbours regression

In [61]:
knn_train_r2 = r2_score(best_knn_reg.predict(X_train.values), y_train.values)
knn_test_r2 = r2_score(best_knn_reg.predict(X_test.values), y_test.values)

print('Train R^2:', knn_train_r2, '\nTest R^2: ', knn_test_r2)

Train R^2: 0.29284826183568646
Test R^2:  -0.08087432775386838

### 7.27

#### Q27 Which features have largest (by absolute value) weight in your linear model (top 5 features)? (list of str).

My:

In [65]:
print(list(Xdf.columns[np.argsort(best_ridge_reg.coef_)[-5::]]))

['density', 'Length', 'Diam', 'Shell', 'Whole']

Correct:

In [66]:
print(list(Xdf.columns[np.argsort(np.abs(best_ridge_reg.coef_))[-5::]]))

['Diam', 'Shell', 'area', 'Whole', 'Shucke']

# Make sure your .ipynb is linearly executable     
# Kernel -> Restart & Run All -> No ERROR cells